
.modalContent {
    font-family: "Gadugib";
    
    input,textarea {
      border: 1px solid black;
    }
  
    input {
      height: 30px;
    }
  
    textarea {
      height: 80px;
      width: 100%;
    }
  }
  
  .textDialog {
    max-width: 100%;
    width : 600px;
    max-height: 100%;
    height : 850px;
    
    .hideMessage {
      display: none;
    }
    .showMessage {
      display: block;
    }
  }